//mobile first:

@import "simplevariables";


body {
  background-color: $background-color;
  margin: 0;

  p  {
    font-family: $font-text;
    font-size: $p-mobile;
    color: $color-text;
    text-align: justify;
  }
  h1 {
    font-family: $font-headline;
    font-size: $h-mobile;
    color: $color-link;
  }


}

//Janna: Slideshow

.slideshow {
  margin: 0;


  .img-slide {
    width: 100%;
    max-height: 79vh;
  }

  .slideshow-container {
    max-width: 100%;
    position: relative;
    margin: $margin/2 0 0 0;
    padding: 0px;
  }

  .mySlides {
    display: none;

  }

  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    background-color: rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 18px;
    transition: 2s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  .prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }

  .text p {
    color: $color-text;
    font-family: $font-headline;
    padding: 8px 12px;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 100%;
    text-align: right;
  }

  .headtext {
    color: $color-text;
    font-family: $font-headline;
    font-size: 30px;
    padding: 8px 12px;
    position: absolute;
    top: 10px;
    left: 30px;
    max-width: 40%;

    p {
      text-align: left;
    }
  }

  .slideshow-container .btn {
    position: absolute;
    bottom: 10%;
    right: 1%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #000000;
    color: white;
    font-size: 16px;
    padding: 8px 18px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .slideshow-container .btn:hover {
    background-color: $color-link;
  }

  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 2s ease;
    z-index: 1;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .7
    }
    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .7
    }
    to {
      opacity: 1
    }
  }
}

//Lucie
#welcome {
  margin: $margin*5 $margin*4 $margin*2 $margin*4;

  .centered {
    text-align: center;
  }
  .special {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: $color-text;
    margin: $margin*2 $margin*3 0 $margin*3;
  }
}

#grid-container-option {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr;
  margin: $margin*2 $margin*2 0 $margin*2;

  h1 {
    text-align: left;
    a, br {
      text-decoration: none;
      font-size: 25px;
      font-family: $font-headline;
      color: $color-link;
      padding: 10px 0 10px 4%;
    }

  }

  #testOption {
    margin-bottom: $margin*2;
    background: url("../images/img2.jpg") center no-repeat;
    height: 100px;
    border-radius: 3px;

    .modalButton {
      border: none;
      background-color: rgba(white, 0);
      display: block;
      height: 100%;
      width: 100%;
      font-family: $font-headline;
      font-size: $h-mobile;
      font-weight: bold;
      text-align: left;
      color: $color-link;
      margin-top: 0;
      outline: none;
      padding-left: 20px;
      cursor: pointer;
    }
  }

  #contactOption {
    //margin: $margin $margin/2 $margin $margin/2;
    background: url("../images/img4.jpg") 56% 1% no-repeat;
    height: 100px;
    border-radius: 3px;

    a {
      display: block;
      height: 100%;
      text-decoration: none;
      p {
        font-family: $font-headline;
        font-size: $h-mobile;
        font-weight: bold;
        color: $color-link;
        margin-top: $margin;

        padding-left: 20px;
        max-width: 36%;
      }

    }
  }
}

#percentil {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 0 $margin*2 0 $margin*2;
  background-color: $secondary-background;
  border-radius: 3px;
  padding: 10px 10px 10px 10px;

  p {
    text-align: center;
    font-weight: lighter;
    //padding: 0 0 5px 40px;

    b {
      text-align: center;
      font-family: $font-headline;
    }

  }

  #mySquare1 {
    img {
      width: 20%;
      height: auto;
      display: block;
      margin: 10px auto 0 auto;
    }

    .special-headline {
      font-size: $h-mobile;
      font-weight: bold;
      color: $color-link;
    }

  }

  #mySquare2 {
    img {
      width: 20%;
      height: auto;
      display: block;
      margin: 10px auto 0 auto;
    }
    .special-headline {
      font-size: 30px;
      font-weight: bold;
      color: $color-link;
    }
  }

  #mySquare3 {
    img {
      width: 20%;
      height: auto;
      display: block;
      margin: 10px auto 0 auto;
    }
    .special-headline {
      font-size: 30px;
      font-weight: bold;
      color: $color-link;
    }
  }

}

#grid-container-review {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;

  .myReview {
    display: none;
  }
  .reviewPart {
    margin: $margin*2;
    border-radius: 3px;

    img {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
    }
  }

}

//calendar
#grid-container-calender {
  margin: 0 $margin*2 0 $margin*2;
  text-align: center;
  background: $secondary-background;
  border-radius: 3px;

  #upcomingEvents {
    #separator {
      border: 0;
      height: 0;
      border-top: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    }
    .something {
      height: 70px;
    }
    #jsdate {
      max-height: 50px;
      text-align: left;
      padding-left: 20px;
    }
    div {
      #jstime {
        // text-align: left;
        padding-left: 20px;

        #jstext {
          text-decoration: none;
          text-align: right;
          color: $font-text;
          font-family: $font-text;
          padding-left: 80px;
        }
      }
    }
    b {
      text-align: center;
      font-size: 17px;
      border: 1px solid #eeeeee;
      width: 100px;
      padding: 5px;
      color: $color-link;
    }
    /*p {
      text-align: center;
    }*/

  }
}

#news {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px;

  .newsImage {
    max-width: 100%;
  }
  .newsText {
    max-width: 100%;
  }
  article p {
    display: inline;
  }
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);

  #modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 80%;
    color: black;
  }
  #closeBtn {
    color: black;
    float: right;
    font-size: 30px;
  }
  #closeBtn:hover, .closeBtn:focus {
    color: #790009;
    text-decoration: none;
    cursor: pointer;
  }
}

#footer {
  background-color: #9C292D;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 0;
  p {
    text-align: center;
    color: white;
  }
  a {
    color: $color-link;
  }

  text-align: center;
  .start_img2 {
    max-width: 100%;
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

//tablet 768px-1024px   -- note: why 1126 specifically? --Lucie
@media screen and (min-width: 768px) and (max-width: 1126px) {
  body {
    h1 {
      font-size: $h-desktop;
    }
  }

  .slideshow {
    .headtext {
      font-size: $h-desktop*1.5;
      padding-top: 40px;
      padding-left: 30px;
    }
  }
  #welcome {
    margin: $margin*5 $margin*5 $margin*2 $margin*5;

    .special {
      margin: 0;
    }
  }

  #grid-container-option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: $margin;

    #testOption {
      margin: $margin*2;
      background: url("../images/img2.jpg") 58% 10% no-repeat;
      height: 120px;
    }

    #contactOption {
      margin: $margin*2;
      background: url("../images/img4.jpg") 58% 1% no-repeat;
      height: 120px;
    }

  }

  #grid-container-review {
    display: grid;
    grid-template-columns: 66% 30%;
    grid-template-rows: 1fr;
    margin: $margin *2;
    grid-gap: 4%;

    .reviewPart {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  }
  #grid-container-calender {
    background: $secondary-background;
    margin: 0;

    h1 {
      margin: 0 5px;
    }

    #upcomingEvents {
      height: 100%;

      .something {
        height: 100%;
        margin: $margin;

        #separator {
          width: 100%;
        }

        b {
          font-size: 16px;
        }
        #jstime {
          font-size: 16px;
          text-align: left;
          font-weight: bold;
          margin-left: 12px;
          padding-left: 10px;
          padding-top: 10px;
        }
        p {
          text-align: center;
          margin: 0;

        }
      }

    }
  }
}

//desktop >1025px
@media screen and (min-width: 1127px) {

  .slideshow {
    .headtext {
      font-size: $h-desktop*2;
      padding-top: 70px;
      padding-left: 60px;
    }
  }
  #welcome {
    margin: $margin;

    p {
      margin: 0 150px;
      text-align: justify;
    }
    .special {
      margin: 20px;
    }
    h1 {
      font-size: $h-desktop*1.5;
    }
  }

  #grid-container-option {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    //margin-bottom: 20px;
    grid-gap: $margin;
    margin: 0 $margin 0 $margin;

    #testOption {
      //margin: $margin $margin/2 $margin $margin/2;
      background: url("../images/img2.jpg") /*50% 70%*/
      center no-repeat;
      height: 200px;
      width: 100%;
    }

    #contactOption {
      //margin: $margin $margin/2 $margin $margin/2;
      background: url("../images/img4.jpg") center top no-repeat;
      height: 200px;

      a {
        p {
          margin-top: 60px;
        }
      }
    }
  }
  #grid-container-review {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr;
    //grid-
    margin: $margin;

    .reviewPart {
      margin: 0;
      padding: 0;

      img {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
      }
    }
  }
  #grid-container-calender {
    margin: 0;
  }

  #percentil {
    margin: 0 $margin $margin $margin;

    #mySquare1, #mySquare2, #mySquare3 {
      img {
        max-width: 10%;
      }
    }
  }

  #grid-container-calender {
    #upcomingEvents {
      height: 100%;

      .something {
        height: 30%;
        margin: $margin;

        #separator {
          width: 100%;
        }

        b {
          font-size: 16px;
        }
        #jstime {
          font-size: 16px;
          text-align: left;
          font-weight: bold;
          margin-left: 12px;
          padding-left: 10px;
          padding-top: 10px;
        }
        p {
          text-align: center;
          margin: 0;

        }
      }

    }
  }

  #news {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #footer {
    grid-template-columns: 1fr 1fr;
    .footer_two {
      grid-column-start: 3;
      grid-column-end: 1;
    }

  }
}







