@import url('https://fonts.googleapis.com/css?family=Open+Sans');


$color-text: #000000;
$color-link: #E85459;
$background-color: #fcfcfc;
$margin: 2%;
$font-text: 'Open sans', sans-serif;
$font-headline: 'Palatino', serif;
$p-mobile: 18px;
$p-desktop: 16px;
$h-mobile: 30px;
$h-desktop: 27px;



